.orderTable{
    display: flex;
}
.orderTable h6{
    margin-right: 100px;
    border-right: 1px solid lightgrey;
    padding: 20px;
}
.orderTable ul li{
    /* display: flex;  */
    /* border-right:1px solid lightgrey;  */
    border-bottom: 1px solid lightgrey;
    margin-right: 20px;
    padding: 20px;
}
.listItem{
    display: flex;
}
